/* ################## */
/* ###### Menu ###### */
/* ################## */
::placeholder {
  color: rgba(0,0,0,.8) !important
}
body {
  background-color: #faf9f8;
}
.menu-wrapper {
  background-color: #000 !important;
  height: 48px;
  border-radius: 0 !important;
}
.menu-wrapper a {
  color: #fff !important;
}
.icon-wrapper {
  height: 100%;
  width: 48px;
  z-index: 999;
}
.icon-wrapper svg {
  display: block;
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
  fill: #fff;
  cursor: pointer;
}
.menu-search {
  position: absolute;
  width: 100%;
}
.menu-search .item{
  margin: auto !important;
}
.menu-search input {
  border: none !important;
  border-radius: 2px !important;
  background-color: #cfcfcf !important;
  width: 400px;
}
/* ################## */
/* ###### Conteudo ###### */
/* ################## */
.container-content {
  padding-top: 2rem !important;
}
div.menu .active {
  border-bottom: 2px solid gray !important;
}
.tasks .ui.text.menu{
  overflow: auto;
}
.tasks .segment {
  border: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
}
.tasks .segment table tr:hover {
  box-shadow: 0 1.2px 3.6px rgb(0 0 0 / 11%), 0 6.4px 14.4px rgb(0 0 0 / 13%);
}
/* ####################### */
/* #### MEDIA QUERIES #### */
/* ####################### */
@media screen and (max-width: 480px)  {
  .menu-search {
    display: none !important;
  }
}
@media screen and (max-width:600px) {
  .menu-search input {
    width: 150px;
  }
}